.page {
  width: 40%;
  max-height: fit-content;
  margin: 4% auto;
  background: #000000;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 0 20px #712be2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal {
  display: flex;
  flex-direction: row;
}

.page h1 {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 1.8em;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Posts {
  max-width: 85%;
  margin: 4% auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
  background: #000000;
  border-radius: 12px;
  box-shadow: 0 0 20px #712be2;
  color: #fff;
}

.Posts h1 {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 20px;
}

.PostCard {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 8px;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.CreatePost {
  max-width: 600px;
  margin: 10% auto;
  background: #000000;
  border-radius: 40px;
  padding: 30px;
  box-shadow: 0 0 20px #712be2;
  display: flex;
  flex-direction: column;
  align-items: center;
}