.navbar {
  background: #712be2;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
  transform: scale(1.1);
  color: #ffe7ff;
}

.logo {
  height: 60px;
  border-radius: 100%;
}
