@import url("./navbar.css");
@import url("./layout.css");
@import url("./forms.css");
@import url("./posts.css");
@import url("./comments.css");
@import url("./postPage.css");

body {
  background: #1e014c;
  color: white;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
}

